<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>文旅之地-荆楚</title>

<meta content="文旅之地-荆楚" name="keywords" />

<meta content="文旅之地-荆楚" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎来到荆楚文旅！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../../../LO GO.jpg" width="294" height="49" alt="" title="绿城之都-南宁"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li>      

				 <li><a href="about.html">团队介绍</a></li>   
				 
                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说荆楚</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">荆楚简介</a></h3>

</li>

        

        <li><h3><a href="Culture.html">荆楚文化</a></h3>

</li>

        

        <li><h3><a href="historic.html">荆楚历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：湖北省江夏区藏龙岛杨桥湖大道8号</p>

                      <p>联系人：冷女士</p>

                      <p>电话：15623103618</p>

                      <p>QQ：3422065835</p>

                      <p>网址：</p>

                      <p>邮编：430000</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> &gt; 荆楚历史</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>荆楚历史</span>

                      　　

                </p>

                	<div class="con">

               		   <p>

	                   <p> &nbsp; &nbsp; &nbsp; &nbsp;楚，也称荆楚，春秋时代的这个国家为什么叫做“楚国”呢。“楚”本是一种灌木的名称，也叫做“荆”，在南方江汉流域的山林中极为常见，可用作薪柴等多种用途，人日常离不了。于是远自商代时，北方中原人就以荆楚来称呼江汉流域的南方地区和南方部族，比如《诗经·商颂》中说的“维女荆楚居国南方”。但是新发现的“清华简”中的《楚居》却给出了另一种解释。据《楚居》中一段对楚先君鬻熊的记载：鬻熊的妻子妣厉，生子熊丽时难产，剖腹产后妣厉死去，熊丽存活。妣厉死后，巫师用荆条(原文中为“楚”)包裹其腹部埋葬。为了纪念她，后人就称自己的国家为“楚”。关于为何要如此隆重地以国名来纪念一位难产剖腹而死的楚先君的妻子，罗运环表示，按照楚国君世系，妣厉的丈夫以及她用生命换来的这个儿子先后做过楚人的领袖，成为楚国的开国先君，开创楚国八百年基业。</p>
                      <p>&nbsp; &nbsp; &nbsp; &nbsp; 荆楚部族在与北方商王朝的对峙中也吸收了先进的商文化，为自身发展创造了有利的条件。周朝初年，转投周王的荆楚族得到了中原王朝的支持，从而建立起了自己的国家。从春秋开始，楚国迅速强盛起来，尤其是到了楚庄王时，楚吞并了周边的许多小国，成为南方大国。&nbsp;</p>
	                   <p>&nbsp; &nbsp; &nbsp; &nbsp;楚地是一个历史的地域概念，大体上以今湖北全境和湖南北部为中心，向周边扩展到一定的范围。当北方有炎、黄部落在创造中原文明的时候，南方江汉流域也兴起了九黎部落，并创造出了大溪文化、屈家岭文化等早期楚地文化。然而这之后，随着九黎部落被炎、黄部落击败，以及后期的三苗部落被更强大的中原部落所征伐，楚地文化逐渐消沉了。楚地文化落后的另一个原因是江汉流域多山林水泽，各氏族部落不能像中原地区的氏族部落那样较快地由采集和渔猎转入农耕和畜牧，这种生产力的缓慢发展相应地限制了文化的发展速度。因此，当北方已经出现了夏、商等奴隶制国家后，南方楚地仍停留在原始的父系氏族社会阶段，散居的各氏族部落屡遭中原势力的压迫和征伐。但就是在这种持续千年的蛮荒背景下，逐渐孕育发展出楚民族以及其后的楚国，并成为当时中国南方各部族融合的中心。楚人融汇了中原文化和南方土著文化，开创了独具异采的楚文化。&nbsp;</p>
<p>
  
  <br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>&nbsp;</p>
  <p>地址：湖北省江夏区藏龙岛杨桥湖大道8号 </p>
</div>



<!--footer 结束--> 


</body>

</html>

