<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>绿城之都-南宁</title>

<meta content="绿城之都-南宁" name="keywords" />

<meta content="绿城之都-南宁" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎来到荆楚文旅！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="294" height="49" alt="" title="绿城之都-南宁"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li>   
				
				 <li><a href="about.html">团队介绍</a></li>      

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 



<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说荆楚</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">荆楚简介</a></h3>

</li>

        

        <li><h3><a href="Culture.html">荆楚文化</a></h3>

</li>

        

        <li><h3><a href="historic.html">荆楚历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：湖北省江夏区藏龙岛杨桥湖大道8号</p>

                      <p>联系人：冷女士</p>

                      <p>电话：15623103618</p>

                      <p>QQ：3422065835</p>

                      <p>网址：</p>

                      <p>邮编：430000</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> &gt;荆楚简介</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>荆楚简介</span>

                      　　

                </p>

                	<div class="con">

               		   <p>

	                   <p> &nbsp; &nbsp; &nbsp; &nbsp;荆楚文化是指具有湖北地方特色的文化。古代的“荆楚”概念，其地域范围大致以现在的湖北省行政区划为主，故湖北人往往将本省称为“荆楚大地”。&nbsp;</p>
	                   <p>&nbsp; &nbsp; &nbsp; 所谓荆楚文化，作为一种具有鲜明地域特色的文化形态，从断代的静态角度看，它主要是指以当今湖北地区为主体的古代荆楚历史文化；从发展的动态角度看，它不仅包括古代的历史文化，还包括从古到今乃至未来湖北地区所形成的具有地方特色的文化。因此，“荆楚文化”也可以理解为具有湖北地方特色的文化。 &nbsp;</p>

	<p>
	  
	  <br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>&nbsp;</p>
  <p>地址：湖北省江夏区藏龙岛杨桥湖大道8号 </p>
  
</div>



<!--footer 结束--> 


</body>

</html>

